flask==0.12.2
flask-cors==3.0.3
flask-restful==0.3.6
flask-httpauth==3.2.3
flask-login
flask-bootstrap
flask-graphql==1.4.1
flask-script
flask-exceptional
flask-oauth
flask-mail
flask-marshmallow
graphene
marshmallow-sqlalchemy
tornado
behave
asyncio
TinyDB
httpie
requests
beautifulsoup4
pyecharts
pandas
pyodbc